<div class="{%= viewName %}-button-container">
  {{#each buttons}}
    <button class="{%= viewName %}-button" type="button" data-slot="{{ name }}">
      {{ displayName }}
    </button>
  {{/each}}
</div>