<div class="{%= widgetName %}-button-container">
  {{#each buttons}}
    <button class="{%= widgetName %}-button" type="button" data-slot="{{ name }}">
      {{ displayName }}
    </button>
  {{/each}}
</div>