{{!this is the template for {%= widgetName %}.}}
{{!it expects an array of strings and assembles them into buttons.}}

<div class="{%= widgetName %}">
  <div class="{%= widgetName %}-header">
    <p>
      {{ titleText }}
    </p>
    <p>
      <span class="{%= widgetName %}-selected-slot-text">{{ selectedSlotText }}</span>
      <span class="{%= widgetName %}-selected-slot"></span>
    </p>
  </div>
  <div class="{%= widgetName %}-content"></div>
</div>